@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-popover-inner{
  padding: 0px  !important;
}

.ant-tabs-nav::before {
  display: none;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-nav-list {
  border-bottom: 1px solid #d2d5e0;
}

.ant-tabs-tab {
  padding: 10px 20px !important;
}
.ant-collapse-expand-icon{
  display: none !important;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.ant-btn-primary{
  background-color: #1e90ff;

}
.ant-popover-inner  {
  padding: 10px 15px !important;
}